body{
    background-color: blue;
}
.parent{
    background-color: green;
    width: 80%;
    height: 400px;
}
.child{
    background-color: brown;
    width: 50%;
    height: 200px;
}
.child-two{
    width: 50vw;
    height: 100px;
    background-color: blueviolet;
}
