.parent{
    width: 80%;
    height: 600px;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 10px;
    padding: 10px;
}

.child{
    background-color: brown;
    border: 1px solid black;
}
.parent .child:nth-child(2){
    background-color: darkgreen;
    grid-column-start: 2;
    grid-column-end: 4;
}
.parent .child:nth-child(1){
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 3;
}